{% load static %}
{% with request.resolver_match.view_name as view_name %}
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      {% if view_name != 'users:profile' %}
        <a class="d-flex align-items-center mb-4 mb-lg-0 text-dark text-decoration-none logo-img" href="{% url 'users:profile' %}">
          <img src="{% static 'img/logo.png' %}" height="40" alt="logo">
        </a>
      {% else %}
        <img src="{% static 'img/logo.png' %}" height="40" alt="logo">
      {% endif %}

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 nav-list">
        {% if user.is_authenticated%}
          {% if user.role.name == "cook" or user.role.name == "admin" %}
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'users:user_list' %}disabled{% endif %}" href="{% url 'users:user_list' %}">
              Пользователи
            </a>
          </li>
          {% endif %}
          {% if user.role.name == "student" %}
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'users:profile' %}disabled{% endif %}" href="{% url 'users:profile' %}">
              Мой профиль
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link">
              Статистика
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link">
              Уведомления
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link">
              Меню
            </a>
          </li>
        {% endif %}
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link px-2 link-dark nav-link {% if view_name == 'admin:index' %}disabled{% endif %}" href="{% url 'admin:index' %}">
            Django-Admin
          </a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</header>
{% endwith %}
