{% load static %}
{% with request.resolver_match.view_name as view_name %}
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      {% if view_name != 'users:profile' %}
        <a class="d-flex align-items-center mb-4 mb-lg-0 text-dark text-decoration-none logo-img" href="{% url 'users:profile' %}">
          <img src="{% static 'img/logo.png' %}" height="40" alt="logo">
        </a>
      {% else %}
        <img src="{% static 'img/logo.png' %}" height="40" alt="logo">
      {% endif %}

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 nav-list">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'users:profile' %}disabled{% endif %}" href="{% url 'users:profile' %}">
              Мой профиль
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'menu:menu' %}disabled{% endif %}" href="{% url 'menu:menu' %}">
              Меню
            </a>
          </li>
          {% if user.role.name == "cook" %}
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'meals:meals' %}disabled{% endif %}" href="{% url 'meals:meals' %}">
              Выдача питания
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'inventory:stock_list' %}disabled{% endif %}" href="{% url 'inventory:stock_list' %}">
              Склад
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'inventory:procurement_list' %}disabled{% endif %}" href="{% url 'inventory:procurement_list' %}">
              Закупки
            </a>
          </li>
          {% endif %}
          {% if user.role.name == "admin" %}
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'payments:stats' %}disabled{% endif %}" href="{% url 'payments:stats' %}">
              Статистика
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'inventory:procurement_list' %}disabled{% endif %}" href="{% url 'inventory:procurement_list' %}">
              Заявки
            </a>
          </li>
          {% endif %}
          {% if user.role.name == "student" %}
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'notifications:list' %}disabled{% endif %}" href="{% url 'notifications:list' %}">
              Уведомления
            </a>
          </li>
          {% endif %}
          {% if user.role.name != "student" %}
          <li class="nav-item">
            <a class="nav-link px-2 link-dark nav-link {% if view_name == 'notifications:list' %}disabled{% endif %}" href="{% url 'notifications:list' %}">
              Уведомления
            </a>
          </li>
          {% endif %}
        {% endif %}
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link px-2 link-dark nav-link {% if view_name == 'admin:index' %}disabled{% endif %}" href="{% url 'admin:index' %}">
            Django-Admin
          </a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</header>
{% endwith %}
