{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center form-card">
  <div class="col-md-8 col-lg-6">
    <div class="alert alert-dark shadow-sm rounded-4 text-center p-4">
      <h2 class="mb-3 text-success-emphasis form-head">Пароль восстановлен</h2>
      <p class="mb-0">
        Вы успешно восстановили пароль. Теперь вы можете <a href="{% url 'users:login' %}" class="link-success fw-semibold">войти</a> в свой аккаунт.
      </p>
    </div>
  </div>
</div>
{% endblock %}