{% extends "base.html" %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center form-card">
  <div class="col-md-6 col-lg-5">
    <h2 class="text-center mb-4 text-primary-emphasis form-head">Восстановление пароля</h2>
    <form method="post" class="bg-white p-4 shadow rounded-4">
      {% csrf_token %}
      {% include "includes/form.html" %}
      <div class="d-grid gap-2 mt-4">
        <button class="btn btn-success btn-lg agree-btn" type="submit">Подтвердить</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}